/*
Dark:   #171a21
Shade:  #313749
Accent: #6f869d
Shade:  #899cae
Bright: #e9eaea
*/


#login {
    width: 100%;
    height: 100%;
    background-color: #171a21;
    color: #e9eaea;
}

#login .contentContainer {
    width: 500px;
    min-width: 500px;

    text-align: center;
}