/*
Dark:   #171a21
Shade:  #313749
Accent: #6f869d
Shade:  #899cae
Bright: #e9eaea
*/



html, body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*
    Header
*/


header {

    text-align: center;
    font-family: 'Oswald', sans-serif;
    position: fixed;
    width: 100%;
    height: 110px;
    background-color: #171a21;
    color: #e9eaea;
    box-sizing: border-box;

    -webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);


}

header ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}


.navItem {
    display: table;
    text-align: center;
    height: 110px;
    width: 110px;
    list-style-type: none;
    float: left;
    box-sizing: border-box;


}

.navItem:hover {
    background-color: #6f869d;
    transition: background-color 250ms ease-in;
    
}

.navItem {
    background-color: #171a21;
    transition: background-color 750ms ease-out;
}

.navItem span {
    box-sizing: border-box;
    font-size: 18px;
    padding: 6px 0px;
    width: 100%;
    display: inline-block;
}

.navItem img {
    margin-top: 14px;
    width: 50%;
    height: 50%;
}



header ul a {
    color: #e9eaea;
}

header ul a:visited {
    color: #e9eaea;
}


a.router-link-active .navItem::after {
    content: " ";
    background: #6f869d;
    height: 10px;
    width: 100%;
    display: -webkit-inline-box;
    position: relative;
    transform: translateY(-200%);
}

/*
    Main
*/

main {

    box-sizing: border-box;
    width: 100%;

    height: 1000px;

    background-color: #e9eaea;

    padding: 100px 20% 200px 20%;
}


h1 {
    font-family: 'Oswald', sans-serif;
    color: #171a21;
    font-weight: normal;
}

/*
    Footer
*/



footer {
    height: 100px;
    background-color: #171a21;
    color: #313749;
    user-select: none;
    text-align: center;
    vertical-align: middle;
}

footer a {
    color: #313749;
    text-decoration: none;
    display: inline-block;
    line-height: 100%;
}
